@import "_reset.scss";
@import "_variables.scss";

html, body {
  height: 100%;
}

body {
  background-color: $white;
}

div {
  font-size: 4vh;
  background-color: $stBlue;
  position: absolute;
  left: calc(50% - 15vh);
  width: 30vh;
  height: 30vh;

  &.top {
    top: 10vh;
  }

  &.bottom {
    top: 60vh;
  }

  opacity: 0.33;
}

.r {
  background-color: #000000;
}

.g {
  background-color: #007000;
}

.b {
  background-color: #0000b8;
}
